.header{
    display: flex;
    justify-content: space-between;
    gap: 32rem;
    padding: 2rem 0;
    @include respond (tab-becstop){
        gap: 26rem;
    
    @include respond ( tabb-land){
        gap: 14rem;
        @include respond ( tab-ipad){
            gap: 28rem;
        }
        @include respond ( tab-port){
            gap: 0rem;
        }
    }
}

&__item{
    @include respond ( tab-ipad){
        position: relative;
        left: 8rem;
         @include respond ( tab-port){
         left: 15rem;
        }
    }
}
&__nav{
 display: flex;
 gap: 30px;
 list-style-type: none;

    @include respond ( tab-ipad){
        display: none
    }
 }

&__nav a{
    @extend %myCode-a;
    color:$color-white;
    font-family:"Poppins", sans-serif;
    font-size: $font-1;
}
&__nav a::after{
    content: "";
   height: 1px;
   width: 100%;
   background: $color-white;
   border-radius: 1px;
   display: block;
   background: transparent;
    }
   &__nav  a:hover::after{
    background: $color-white;
   }
   &__logo{
    @extend %myCode-a;
    color: $color-red;
    font-size: $font;
   &:hover{
    color: $color-white;
   }
}
}