.section{
    padding: 40rem 0;
    @include respond ( tabb-land){
        padding: 30rem 0;
    }
}
.wrap{
    position: relative;
    top: 0;
    left: 0;
    transform: translate(4%, -50%);
    overflow: hidden;
    height: 87rem;
    @include respond ( tab-becstop){
        transform: translate(0%, -50%);
    }
    @include respond ( tabb-land){
        transform: translate(-7%, -60%);
    }
    @include respond (  tab-ipad){
         transform: translate(-10%, -60%);
     @include respond (  tab-port){
        transform: translate(-7%, -40%);
         @include respond ( phone){
            transform: translate(-20%, -35%);
            width: 120%;
            height: 83rem;
        }
     }     
    }  
  &__img{
    border-radius: 100%;
    border: 35px solid #E40037;
    width: 75rem;
    height: 70rem;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    transform: translate(50%, 15%);
    @include respond ( tab-ipad){
        width: 56rem;
        height: 51rem;
        @include respond (  tab-port){
            width: 43rem;
            height: 41rem;
            }
        @include respond (  phone){
            width: 32rem;
            height: 30rem;
            border: 25px solid #E40037;
            }
        }
    }
}
.box_blur{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translate(32%, 1%);
    width: 56%;
  @include respond (tab-becstop){
    width: 61%;
    @include respond ( tabb-land){
        width: 73%;
        @include respond (  tab-port){
            width: 78%;
    transform: translate(30%, 2%);
        }
    }
  }
}
.title{
    --font-family: "Poppins", sans-serif;
    font-size: 14rem;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 28rem;
    left: 12rem;
    z-index: -1;
    letter-spacing: 0.05em;
    max-width: 100%;
    @include respond ( tab-becstop)  {
        font-size: 12rem;
        left: 17rem;
        top: 30rem;
    @include respond ( tabb-land)  {
        font-size: 11.5rem;
        @include respond (  tab-ipad){
            font-size: 8rem;
            top: 22rem;
            @include respond ( tab-port){
                font-size: 5.8rem;
                left: 14rem;
                top: 17rem;
                @include respond ( phone){
                    font-size: 4.3rem;
                    left: 10rem;
                    top: 14rem;
                    }
                }
            }
         }
    }
}
.disprepgin{
    --font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    position: absolute;
    top: 50rem;
    left: 0rem;
    max-width: 100%;
    text-shadow: #e40037 0px 0 5px;
        @include respond ( tab-becstop)  {
        font-size: 11rem;
        left: 17rem;
     @include respond ( tabb-land)  {
        font-size: 10.4rem;
     @include respond (  tab-ipad){
        font-size: 7.2rem;
        top: 38rem;
     @include respond ( tab-port){
        font-size: 5rem;
        left: 15rem;
        top: 28rem;
    @include respond (phone){
        font-size: 3.5rem;
        left: 12rem;
        top: 22rem;
                        }
                    }
                }
            }
        }
    }

.span{
    font-size: 3rem;
    letter-spacing: 0.05em;
    font-weight: 500;
    --font-family: "Poppins", sans-serif;
    position: absolute;
    top: 23rem;
    left: 5rem;
    z-index: 1;
        @include respond ( tabb-land){
            font-size: 2.8rem;
            left: 8.7rem;
            @include respond (  tab-ipad){
                font-size: 2.2rem;
                top: 15rem;
            }
            @include respond ( tab-port){
                top: 11rem;
                font-size: 2rem;
                left: 5rem;
                @include respond ( phone){
                    left: 10rem;
                    top: 6rem;
                    font-size: 1.2rem;
                }
            }
        }
    }
.icon{
    display: block;
    margin-left: auto;
    width: 0rem;
    @include respond ( tab-port){
        display: none;
    }
}
.section__icon{
display: flex;
flex-direction: column;
gap: 30px;
transform: translate(-10rem, -25rem);
@include respond ( tab-ipad){
    transform: translate(-10rem, -30rem);
    gap: 25px;

} 
}
li.section__icon,li.section__iconn{
    display: block;
    text-decoration: none;
    list-style: none;
    width: 35px;
    height: 35px;
    transform: scale(1);
    transition: .3s;
    &:hover{
        transform: scale(1.3);
    }
}
li.section__iconn{
    width: 35px;
    height: 27px;
}
.Twitter{
 background: url(../icon/Twitter.svg);
}
.LinkedIn{
 background: url(../icon/LinkedIn.svg);
}
.ytud{
 background: url(../icon/ytud.svg);
}
.Github {
 background: url(../icon/Github.svg);
}