//  цвета
 $color-red: #E40037;
  $color-black:#212428;
$color-white:#FFFFFF;
//  тени
 $box-shadow:rgba(217, 217, 217, 0);

// $box-shadow-1:rgba(255, 255, 255, 0);
//  типографика
$font-h1: 15.3rem;
$font-h2: 14rem;
$font-h3: 3.2rem;
$font-h4: 2.4rem;
$font-h5: 2rem;
$font-text: 1.8rem;
$text-main: 1.4rem;
$text-from: 1.3rem;
$span-main: 1.2rem;
$font-span: 3rem;
$font:2.6rem;
$font-1:2rem;
